/* Target the NextPay logo specifically */
#payment_method_nextpay {
  background-color: #4B60FA;
  padding-left: 5px;
  padding-right: 5px;
}

li.payment_method_nextpay img {
  vertical-align: middle;
  width: 200px;
}